*{
	scroll-behavior: smooth;
}
body{
	font-family: 'Roboto';
}
@media (max-width: 768px) {
	.body{
		margin-top: 50px;
	}
}
.bg-nya{
	background-color: #3899CD;
}
.border-nya{
	border-color: #3899CD;
}
.text-nya{
	color: #3899CD;
}
.btn-link{
	transition: 0.5s ease;
}
.btn-link:hover{
	filter: brightness(80%);
}

.btn-xl {
    padding: 40px 40px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #3899CD;
    transition: 1s ease;
}
@media (max-width: 768px) {
    .body{
        margin-top: 50px;
    }
    .btn-xl{
        padding: 2em 0.8em;
    }
}
.btn-sm {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #3899CD;
    transition: 1s ease;
    color: white;
}
.btn-sm:hover {
    filter: brightness(80%);
    color: white;
}
.btn-xl:hover {
	filter: brightness(80%);
}
.sidebar-outer {
    position: relative;
}
.badge-nya{
	background-color: #3899CD;
	color: white;
}
.video-nya{
    width: 100%;
    height: 100%;
}
.logo{
    transition: 0.5s ease;
}
.logo {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}