*{
	scroll-behavior: smooth;
}
body{
	font-family: 'Roboto';
}
@media (max-width: 768px) {
	body{
		margin-top: 50px;
	}
}
.bg-nya{
	background-color: #3899CD;
}
.border-nya{
	border-color: #3899CD;
}
.text-nya{
	color: #3899CD;
}
.btn-link{
	transition: 0.5s ease;
}
.btn-link:hover{
	filter: brightness(80%);
}